<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CanvasJS Chart Python Flask Sample</title>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">            
            window.onload = function() {
                var dps = [
                            {% for key,value in data.items() %}
                                { x:{{key}}, y: {{value}} },
                                //{ x: new Date({{key}}), y: {{value}} },
                            {% endfor %}
                ];
                //console.log(dps)
                var chart = new CanvasJS.Chart("chartContainer", {
                    title:{
                        text: "MF Attic Fan Monitor and Control"              
                    },
                    axisX:{  
                        //Try Changing to MMMM
                        title: "Time",
                        valueFormatString: "HH:mm:ss DDMMMYY",
                        gridThickness: 1,
                        interlacedColor: "#F0F8FF" 
                    },
                    data: [{              
                        // Change type to "doughnut", "line", "splineArea", etc.
                        type: "line",                        
                        ValueFormatString: "HH:mm:ss DDMMMYY", 
                        xValueFormatString: "HH:mm:ss DDMMMYY",
                        xValueType: "dateTime",
                        dataPoints: dps
                    }]
                    
                });
                chart.render();

                function getData() {
                    fetch("/get_cart_rate")
                    .then(response => response.json())
                    .then(data => {
                        dps = [];
                        //console.log(data);
                        for (var key in data) {
                            dps.push({ x: key, y: data[key] });
                            //console.log(key, data[key]);
                        }
                    })
                        chart.data[0].set("dataPoints", dps);
                        //console.log(dps);
                        setTimeout(getData, 4000);
                    };
            
                setTimeout(getData, 2000); 
            
                
            }
            //console.log()
        </script>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div id="chartContainer" style="width: 100%; height: 300px;"></div>
    </body>
</html>